@import "tailwindcss";

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 30s linear infinite;
  }

  /* .animate-marquee:hover {
    animation-play-state: paused;
  } */
}

.PhoneInputInput {
  background: transparent;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #1f2937;
}
